# Google Meet OAuth client configuration
GOOGLE_MEET_CLIENT_ID=
GOOGLE_MEET_CLIENT_SECRET=

# Google service account configuration for Firebase notifications
GOOGLE_SERVICE_ACCOUNT_PROJECT_ID=
GOOGLE_SERVICE_ACCOUNT_PRIVATE_KEY_ID=
GOOGLE_SERVICE_ACCOUNT_PRIVATE_KEY=
GOOGLE_SERVICE_ACCOUNT_CLIENT_EMAIL=
GOOGLE_SERVICE_ACCOUNT_CLIENT_ID=
